/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #e7d7df;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  background: #efb5d0;
  color: white;
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  text-align: center;
  padding: 20px;
}

.hero img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e6a3c2;
}

/* MAIN */
main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* GRID INFO */
.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* CARD */
article {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* TYPO */
h2 {
  color: #e6a3c2;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

/* FORM */
form {
  background: #e5c8d5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0bcbc;
}

/* BUTTON */
button {
  background: #da83ab;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #efa8c9;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 10px;
  }

  .nav-menu {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
